<%- include('partials/header')%>
<%- include('partials/navbar')%>
<body>
    <hr>
    <div class="container">
        <div class="card bg-dark text-white">
            <div class="card-header">
                <h2>Lista de Usuários</h2>
                <div style="width: 100%; border: 1px solid #fff;"></div>
            </div>
            <div class="card-body">
                <ul>
                    <% users.forEach(user => { %>
                        <li>

                            <%= user.id %>:
                            <%= user.name %> - 
                            <%= user.email %>
                         
                            <a href="edit/<%= user.id %>" class="btn btn-warning btn-sm ml-2 mb-2">Editar</a>
                            <form action="/delete" method="post" style="display: inline;" onsubmit="confirmDel(event, this)">
                                <input type="hidden" name="id" value="<%= user.id %>">
                                <button class="btn btn-danger btn-sm ml-2 mb-2">Deletar</button>
                            </form>
                            
                        </li>
                    <% }) %>
                </ul>
                <a class="btn btn-light btn-sm mt-2" href="/admin">Voltar</a>
            </div>
        </div>
    </div>
</body>

<script>

    function confirmDel(event, form) {
        event.preventDefault()
        let decision = confirm('Deseja deletar usuário?')
        if(decision) {
            form.submit();
        }
    }

</script>

</html>