<%- include('../partials/header')%>
<%- include('../partials/navbar')%>
<title>Projetos</title>
<style>
    body{
        background-color: rgb(250, 248, 248);
    }
    h5{
        color: lavender;
        border-bottom: 1px solid #eee;
        margin-top: 3px;
    }
</style>
<body>
    <hr>
    <div class="container">
        <div class="card bg-dark text-white">
            <div class="card-header">
                <h2>Lista de Projetos</h2>
                <div style="width: 100%; border: 1px solid #fff;"></div>
            </div>
            <div class="card-body">
                <ul>
                    <% projects.forEach(project => { %>
                        <li>

                           <h5>Nome:</h5><%= project.name %>
                           <h5>Data inicio:</h5><%= project.start %>  
                           <h5>Data Fim:</h5><%= project.end %>
                           <h5>Tema:</h5><%= project.theme %>
                            <br> <br>
                            <a href="/edit-project/<%= project.id %>" class="btn btn-warning btn-sm ml-2 mb-2">Editar</a>
                            <form action="/delete-project" method="post" style="display: inline;" onsubmit="confirmDel(event, this)">
                                <input type="hidden" name="id" value="<%= project.id %>">
                                <button class="btn btn-danger btn-sm ml-2 mb-2">Deletar</button>
                            </form>
                            
                        </li>
                        <hr>
                    <% }) %>
                </ul>
                <hr>
                <div style="display: flex; justify-content: space-between;">
                    <div>
                        <a href="/create-project" class="btn btn-light">Criar projeto</a>
                    </div>
                    <div>
                        <a class="btn btn-light" href="/admin">Voltar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</body>

<script>

    function confirmDel(event, form) {
        event.preventDefault()
        let decision = confirm('Deseja deletar o projeto?')
        if(decision) {
            form.submit();
        }
    }

</script>

</html>